body {
  /*background-image: url(./img/background-blue.png);*/
  background-position: left bottom;
  background-repeat: repeat-x repeat-y;
}

.enemy-place {
  text-align: center;
  margin-top: 55px;
}

.enemy-attributes {
  
}

.enemy-name {
  position: absolute;
  left: 30%;
  font: bold 110% serif;
  color: blue;
}

.enemy-health {
  position: absolute;
  right: 30%;
  font: 150% serif;
  color: red;
}

.enemy-img {
  text-align: center;
  /*margin-top: 50px;*/
}

.flash {
  
}

.end-label {
	text-align: center;
}

